*{
    box-sizing: border-box;
    margin: 1px 50px 0 50px;
}
h1{
    text-align: center;
    color: blue;
    padding: 10px;
}
th, td {
    text-align: left;
    margin: auto;
    padding: 10px 110px 10px 110px;
  }
  
thead  {
    font-size: larger;
    background-color: rgba(173, 216, 230, 0.329);
    color:black;
    border-bottom: 1px solid rgb(125, 203, 230);
    border-top: 1px solid rgb(125, 203, 230);
  }


 tbody > tr:nth-child(even) {
    background-color: lightblue;
    border-bottom: 1px solid rgb(125, 203, 230);
    border-top: 1px solid rgb(125, 203, 230);
}

  tbody > tr:hover {background-color: gray;}

  table {
    border-collapse: collapse;
    border-bottom: 1px solid rgb(125, 203, 230);
    border-top: 1px solid rgb(125, 203, 230);
  }
